<%- include('partials/header'); -%>

<div class="backgrd home">
  <header>
    <div class="headings">
      <h2>One Stop Solution</h2>
      <h3>For interview preparation!!!</h3>
      <a href="/topics" class="btn home">Programming</a>
      <a href="/interviews" class="btn home">interview Experiences</a>
    </div>
  </header>
</div>

<%- include('partials/footer'); -%>