<%- include('partials/header'); -%>

<ul class="interviews">
  <li class="interview">
    <img src="/surya.jpg" alt="surya topics icon">
    <h4>Google</h4>
    <p></p>
  </li>
  <li class="interview">
    <img src="/surya.jpg" alt="surya topics icon">
    <h4>Microsoft</h4>
    <p></p>
  </li>
  <li class="interview">
    <img src="/surya.jpg" alt="surya topics icon">
    <h4>Oracle</h4>
    <p></p>
  </li>
  <li class="interview">
    <img src="/surya.jpg" alt="surya topics icon">
    <h4>JPMC</h4>
    <p></p>
  </li>
  <li class="topics">
    <img src="/surya.jpg" alt="surya topics icon">
    <h4>GS</h4>
    <p></p>
  </li>
</ul>

<%- include('partials/footer'); -%>